// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.webly-blue {
  color: #5E72E4 !important;
  font-size: 15px !important;
}

.webly-red {
  color: #F04258 !important
}
.webly-text {
  color: #1e1e24e0 !important;
}

.webly-text__content {
  color: #1e1e24e0 !important;
  font-size: 15px !important;
}

.webly-text__muted {
  color: #6e767d !important;
  font-size: 14px !important;
}

.webly-card {
  background-color: white !important;
  border: none !important;
  border-radius: .25rem !important;
  box-shadow: 0 .125rem .25rem rgba(0,0,0,.075)!important;
}

.webly-modal {
  border: none !important;
  border-radius: 1rem !important;
}

.profile-card {
  border: none !important;
  border-radius: .25rem !important;
  background-color: rgba(94,114,228,12%) !important;
  padding: 0% !important;
  margin: 0% !important;
  // box-shadow: 0 .125rem .25rem rgba(0,0,0,.075)!important;

}